html {
     box-sizing: border-box;
}

*, *::before, *::after {
     box-sizing: inherit;
}

html, body {
     width: 100%;
     height: 100%;
     margin: 0;
     padding: 0;
}

body {
     background: #ffffff url('../img/geometry2.png');
    /* Background pattern from Subtle Patterns */
     font-family: 'Coda', cursive;
}

.container {
     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: column;
     perspective: 800px;
}

h1 {
     font-family: 'Open Sans', sans-serif;
     font-weight: 300;
}

/* * Styles for the deck of cards */
.deck {
     width: 660px;
     min-height: 680px;
     background: linear-gradient(160deg, #02ccba 0%, #aa7ecd 100%);
     padding: 32px;
     border-radius: 10px;
     box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
     display: flex;
     flex-wrap: wrap;
     justify-content: space-between;
     align-items: center;
     margin: 0 0 3em;
}

.deck .card {
     height: 125px;
     width: 125px;
     background: #2e3d49;
     font-size: 0;
     color: #ffffff;
     border-radius: 8px;
     cursor: pointer;
     display: flex;
     justify-content: center;
     align-items: center;
     box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
}

.deck .card.open {
     transform: rotateY(0);
     background: #02b3e4;
     cursor: default;
     transition: 1s;
}

.deck .card.show {
     font-size: 33px;
     transition: 1s;
}

.deck .card.match {
     cursor: default;
     background: #02ccba;
     font-size: 33px;
     transition: 1s;
}

.rotate {
     background: #2980b9;
     -webkit-transform: rotateY(180deg);
     transform: rotateY(180deg);
}

.shake-horizontal {
     animation: shake 1s;
}

/* * Styles for the Score Panel */
.score-panel {
     text-align: left;
     width: 345px;
     margin-bottom: 10px;
}

.score-panel .stars {
     margin: 0;
     padding: 0;
     display: inline-block;
     margin: 0 5px 0 0;
}

.score-panel .stars li {
     list-style: none;
     display: inline-block;
}

.score-panel .restart {
     float: right;
     cursor: pointer;
}

.flip-card {
     -webkit-transform: rotateY(180deg);
     transform: rotateY(180deg);
}

.modal {
     display: none;
}

.modal-content {
     position: fixed;
     top: 50%;
     left: 50%;
     padding: 1em;
     width: 50%;
     max-height: 50%;
     transform: translate(-50%, -50%);
     background-color: #34495e;
     text-align: center;
     line-height: 1.5em;
     color: #ecf0f1;
     border-radius: 7px;
}

.modal-title {
     font-size: 1.5em;
     color: #ecf0f1;
     line-height: 1.5em;
}

.game-score li {
  list-style: none;
  font-size: 1em;
  line-height: 1.5em;
}

.playAgain {
  font-size: 1em;
  padding: 0.9em;
  margin: 1.24em 0;
  background-color: #2980b9;
  color: #ecf0f1;
  border: 1px solid #2980b9;
  border-radius: 7px;
}